@charset "UTF-8";

html{
  font-size: 62.5%; /* 10px */
}

body{
  /*font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro W3', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', Arial, verdana, sans-serif;
  font-size: 1.6rem;/* rem は　html要素のfont-sizeの倍率指定
  line-height: 1.6;*/

  font: 1.6rem / 1.6 "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
/*================
common
================*/
.inner{
  width: 1200px;
  margin: 0 auto ;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}
/*================
hdr
================*/
.hdr-top {
  padding: 10px 0 13px;
  background: url(img/bg_line.png) repeat left bottom;
  text-align: right;
  color: #959595;
}
.hdr-top a {
  margin-left: 10px;
  padding: 6px 14px;
  background: #ffff69;
  color: #777;
  border-radius: 5px;
  text-decoration: none;
}
.hdr-main {
  padding: 30px 0;
  float: left;
}

.logo {
}

.logo img {
  width: 300px;
}

.hdr-main span {
  font-size: 14px;
  letter-spacing: 2px;
  color: #555;
  display: block;
  margin-top: 12px;
  font-weight: normal;
}
/*================
nav
================*/
.nav {
}

.nav ul {
  display: flex;
  float: right;
  margin-top: 30px;
}

.nav li {
  width: 100px;
  float: left;
  margin-left: 14px;
  text-align: center;
}
.nav a {
  text-decoration: none;
}
.nav img {
  width: 100%;
}
.nav span {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  color: #555;
}
/*================
keyVisual
================*/
.keyVisual {
  background: url(img/top.jpg) no-repeat left center /cover;
  height: 500px;
}

.keyVisual .inner {
  position: relative;
}

.news-btn {
  position: absolute;
  right: 0;
  top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: bold;
  animation: newsblink 1.3s infinite;
}

@keyframes newsblink {
  0% {
    background: transparent;
  }

  50% {
    background: #ffff69;
  }

  100% {
    background: transparent;
  }
}
/*================
ギャラリーPickUp
================*/
.section-hdr {
  width: 1000px;
  margin: 40px auto 30px;
  background: url(img/bg_line.png) repeat left bottom;
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  color: #666;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.gallery li {
  margin-bottom: 20px;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 20px;
}
.gallery .image{
  height: 250px;
  overflow: hidden;
  background: no-repeat center /cover;
}
.gallery li:nth-child(3n){
  margin-right: 0;
}
.gallery li:first-child .image{
  background: url('img/ga1.jpg') no-repeat center center /cover;
}
.gallery li:nth-child(2) .image{
  background: url(img/ga2.jpg) no-repeat center center /cover;
}
.gallery li:nth-child(3) .image{
  background: url(img/ga3.jpg) no-repeat center center /cover;
}
.gallery li:nth-child(4) .image{
  background: url(img/ga4.jpg) no-repeat center center /cover;
}
.gallery li:nth-child(5) .image{
  background: url(img/ga5.jpg) no-repeat center center /cover;
}
.gallery li:last-child .image{
  background: url(img/ga6.jpg) no-repeat center center /cover;
}
.gallery li img{
  display: none;
}
/*================
ブログPickUp
================*/
.blog{
  width: 100%;
  display: flex;
}
.blog li{
  width: 22%;
  margin-right: 4%;
  margin-bottom: 20px;
}
.blog li:last-child {
  margin-right: 0px;
}

.blog .image{
  height: 220px;
  overflow: hidden;
  background: no-repeat center /cover;
}
.blog li:first-child .image{
  background-image: url("img/news1.jpg");
}
.blog li:nth-child(2) .image{
  background-image: url("img/news2.jpg");
}
.blog li:nth-child(3) .image{
  background-image: url("img/news3.jpg");
}
.blog li:last-child .image{
  background-image: url("img/news4.jpg");
}
.blog li img{
display: none;
}

.test2{
  margin: 10px 20px 30px 40px;
  padding: 40px 30px 20px 10px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  
}
